@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --secondary-color: white;
  --primary-color: black;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inria Serif", serif;
}

/* utilities */
.flex{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.container{
  padding: 20px;
}

.btn{
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 9px 30px 9px 30px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  font-family: "Inria Serif", serif;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
/* navbar */
.navbar {
  justify-content: space-between;
}

ul li{
  list-style-type: none;
  margin: 0 20px;
}

ul li a {
  text-decoration: none;
  color: #929292;
  font-weight: 400;
  font-size: 24px;
  font-family: "Jost", sans-serif;

}

.active{
  color: var(--primary-color);
  border-bottom: 2px solid black;
}

ul li a:hover{
  color: var(--primary-color);
  border-bottom: 2px solid black;
}

.navbar-icons .icon{
  margin: 0 18px;
  font-size: 25px;
  cursor: pointer;
}

/* hero section */
.hero-image{
  position: absolute;
  width: 97%;
}
.hero-image-contents{
  justify-content: space-between;
}
.image-box{
  width: 465px;
  height: 377px;
  border: 3px solid black;
  position: relative;
  top: 34px;
  left: 188px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.image-box-header{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 85px;
  border-bottom: 1px solid black;
}
.image-box-text{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.box-btn{
  margin-left: 140px;
  margin-top: 40px;
}
.hero-image-images{
  z-index: 100;
  margin-right: -20px;
}

/* 1st item section */

.item-description{
  margin-left: 180px;
  margin-top: 100px;
  text-align: center;
}

.item-description-header{
  font-size: 48px;
  font-weight: 400;
  display: inline;
  text-align: center;
  border-bottom: 3px solid var(--primary-color);
}
.item-description-paragraph{
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.item-1-btn{
  margin: 30px 100px;
}
.style-2{
  margin-top: 100px;
}
.pricetag{
  justify-content: flex-end;
  margin-top: 30px;
  gap: 200px;
}
.pricetag-text{
  border-bottom: 2px solid var(--primary-color);
  margin-right: 180px;
}
.color-select-box{
  gap: 20px;
}
.color-selection-box-1{
  width: 30px;
  height: 30px;
  background: #E6E5E0;
  margin-bottom: 5px;
}
.color-selection-box-2{
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  margin-bottom: 5px;
}

/* item-2 section */
.item-2-description{
  margin-left: 30px;
  margin-top: 100px;
}
.item-2-btn{
  margin: 30px 100px;
}
.pricetag-2{
  margin-top: 30px;
 display: flex;
}
.color-selection-2-box-1{
  width: 30px;
  height: 30px;
  background: #EC9359;
}
